
<h1>Welcome, we're on sessions#welcome</h1>
<p>Even if your not connected, this is the root page. If your connected, you can like and comment. else just read</p>
<!-- <% if logged_in? %>
    <h1>You are Logged In, <%= current_user.email %></h1>
<% else %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<%end%> -->
